{% extends 'layout.html.twig' %}

{% block main %}
    <!-- Main Content start-->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="posts-block col-lg-8 col-md-8 col-sm-7 col-xs-12">
                    <!-- Recent work start-->
                    <div class="recentwork_wrapper">
                        <!-- Slider Start-->
                        <div class="post-image">
                            <!-- Slider Start-->
                            <div class="slider-wrapper theme-default">
                                <div id="nivoslider" class="nivoSlider">
                                    {% for item in site.products %}
                                        {% if item.images is not empty %}
                                            <a href="#">
                                                <img
                                                        src="{{ item.images[0].small }}"
                                                        title="<h3 class='title'>{{ item.title }}</h3><div class='subtitle'>{{ item.subtitle }}</div>" alt="{{ item.title }}"
                                                        data-transition="slideInLeft">
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!-- Slider End-->
                        </div>
                    </div>
                    <!-- Recent work end-->
                </div>
                <!-- Left Section End -->
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12" id="contact-form">
                    <div class="contact-form">
                        <h3 class="title">
                            Solicitar presupuesto</h3>
                        <!-- <p>
    Dejanos tu consulta y te responderemos a la brevedad.</p> -->
                        <form method="post" class="reply" id="contact">
                            <fieldset>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <!-- <label>Nombre: <span>*</span></label> -->
                                        <input class="form-control" id="name" name="name" type="text" value=""
                                               required placeholder="Nombre">
                                    </div>
                                    <div class="col-xs-12">
                                        <!-- <label>Teléfono: <span>*</span></label> -->
                                        <input class="form-control" type="tel" id="phone" name="phone" value=""
                                               required placeholder="Teléfono">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <!-- <label>Email: <span>*</span></label> -->
                                        <input class="form-control" id="email" name="email" type="email" value=""
                                               required placeholder="Email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <!-- <label>
    Quiero solicitar presupuesto para: <span>*</span></label> -->
                                        <textarea class="form-control" id="text" name="message" style="min-height: 95px;" rows="3" cols="40" required placeholder="Quiero solicitar presupuesto para..."></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="actions">
                                <button class="btn-normal btn-color submit bottom-pad" type="submit">
                                    Solicitar Presupuesto Gratis</button>
                            </div>
                            <div class="success alert-success alert" style="display: none">Tu mensaje se envió correctamente</div>
                            <div class="error alert-error alert" style="display: none">E-mail must be valid and message must be longer
                                than 100 characters.</div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>

    <!-- <div class="divider"></div> -->
    <div class="recentworks">
        <div class="container">
            <div class="row">
                <div class="posts-block col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <article class="about-us">
                        <h3 class="title" id="quienes-somos">Qui&eacute;nes somos</h3>

                        <div class="post-content">
                            {{ site.main_description | raw('html') }}
                        </div>
                    </article>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                    <div class="address widget">
                        <h3 class="title">Llamanos ahora!</h3>

                        <p class="phone"><a href="tel:3529-1982" data-toggle="modal"><i class="icon-phone" style="margin-right: 8px;"></i> 3529-1982</a></p>

                        <p>
                            Pod&eacute;s hacernos un pedido o consultar por precios.
                            (Horario de atención de Lunes a Viernes de 9 a 18 hs)
                        </p>

                        <p class="action">
                            <a  class="btn btn-special btn-color" href="#contactModal" data-toggle="modal" onClick="_gaq.push(['_trackEvent', 'Landing', 'AskFreeEstimate', 'Button'])">
                                Solicitar Presupuesto Gratis
                            </a>
                        </p>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    {% if site.images is not empty %}
        <div class="content" id="image_gallery">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 com-sm-12 col-xs-12">
                        <h3 class="title" data-name="products.title">
                            Galer&iacute;a de imagenes</h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 portfolio-wrap">
                        <div class="row">
                            <div class="portfolio">
                                {% for item in site.images %}
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 web jquery item">
                                        <div class="portfolio-item">
                                            <a href="{{ item.url }}" rel="prettyPhoto[pp_gal]">
                                                <img data-src="{{ item.small }}" width="253" height="191"/>
                                            </a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    {% endif %}



    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 com-sm-12 col-xs-12">
                    <h3 class="title" data-name="products.title">
                        Productos</h3>
                    <p  data-name="products.subtitle">
                        Estos son los productos que ofrecemos en Climatronik.</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 portfolio-wrap">
                    <div class="row">
                        <div class="portfolio">

                            {% for item in site.products %}
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 web jquery item">
                                    <div class="portfolio-item">
                                        <a href="{{ url_generate('productos_detalle', { 'friendly_name': item.friendly_uri, 'product_id': item.website_id }) }}" class="portfolio-item-link">
                                            <span class="portfolio-item-hover"></span>
                                            <span class="fullscreen"><i class="icon-search"></i></span>
                                            <img data-src="{{ item.images[0].small }}" alt="{{ item.title }}" />
                                        </a>
                                        <div class="portfolio-item-title">
                                            <a href="{{ url_generate('productos_detalle', { 'friendly_name': item.friendly_uri, 'product_id': item.website_id }) }}">{{ item.title }}</a>
                                            <p>&nbsp;</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>

    <div class=" recentworks ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" id="contact-form">
                    <div class="contact-form">
                        <h3 class="title" id="contactanos">Solicitar presupuesto</h3>
                        <p>Dejanos tu consulta y te responderemos a la brevedad.</p>
                        <form method="post" class="reply" id="contact">
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label class="sr-only">Nombre: <span>*</span></label>
                                        <input class="form-control" id="name" name="name" type="text" value="" required placeholder="Nombre">
                                        <!-- <label>Email: <span>*</span></label> -->
                                        <input class="form-control" type="email" id="email" name="email" value="" required placeholder="Email">
                                        <!-- <label>Teléfono: <span>*</span></label> -->
                                        <input class="form-control" id="subject" name="phone" type="text" value="" required placeholder="Telefono">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <!-- <label>
              Quiero solicitar un presupuesto para <span>*</span></label> -->
                                        <textarea class="form-control" id="text" name="message" rows="3" cols="40" required placeholder="
Quiero solicitar un presupuesto para..."></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="actions">
                                <button class="btn-normal btn-color submit  bottom-pad" type="submit" style="margin-bottom:0;">
                                    Solicitar Presupuesto Gratis</button>
                            </div>
                            <div class="success alert-success alert" style="display:none">Tu mensaje se envió correctamente</div>
                            <div class="error alert-error alert" style="display:none">E-mail must be valid and message must be longer than 100 characters.</div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                    <div class="address widget">
                        <h3 class="title">Datos de contacto</h3>
                        <div style="height:200px;margin-bottom:20px;color:#333;" id="maps" class="google-maps" data-company="null" data-address="{{ site.main_location.google_maps_address }}"
                             data-address-description="{{ site.main_location.address }}"></div>
                        <!-- Left Section End -->
                        <ul class="contact-us">
                            <li>
                                <i class="icon-map-marker"></i>
                                <p>
                                    {{ site.main_location.address }}
                                </p>
                            </li>
                            <li>
                                <i class="icon-phone"></i>
                                <p>
                                    {{ site.phone }}
                                </p>
                            </li>
                            <li>
                                <i class="icon-envelope"></i>
                                <p>
                                    <a href="mailto:climatronick@gmail.com">{{ site.email }}</a>
                                </p>
                            </li>
                        </ul>
                        <!-- <h3>Horarios de atenci&oacute;n</h3> -->
                 <span>
                 <ul>
                     <li><i class="icon-time"> </i>Lunes a Viernes de 9 a 18 hs</li>
                 </ul>
                 </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Clients End -->
    </div>



    <div class="modal fade" id="contactModal">
        <div class="modal-dialog" style="padding-top: 5%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="javascript:$('#contactModal').modal('hide');">&times;</button>
                    <h4 class="modal-title">
                        Solicitar Presupuesto</h4>
                </div>
                <div class="modal-body" style="background: #fafafa;">

                    <h2 class="title" style="text-align: center; margin-top: 0;">
                        <i class="icon-phone" style="margin-right: 8px;"></i>
                        Llamanos ahora al <a href="tel:3529-1982">3529-1982</a>!
                    </h2>
                    <h4 class="title" style="margin-bottom: 18px; margin-left: 15px; margin-top: 25px;">Dejanos tus datos y te contactaremos:</h4>

                    <form method="post" class="reply" id="contact">
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input class="form-control" id="name" name="name" type="text" value="" placeholder="Nombre" required>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input class="form-control" type="tel" id="phone" name="phone" value="" placeholder="Teléfono" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input class="form-control" id="email" name="email" type="email" value="" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <textarea class="form-control" id="text" name="message" style="min-height: 95px;" rows="3" cols="40" placeholder="
Quiero solicitar un presupuesto para..." required></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <div style="text-align: center;">
                            <button class="btn-normal btn-color submit  bottom-pad" type="submit" style="margin-left: 3.5%; margin-bottom: 1%;">
                                Solicitar Presupuesto Gratis</button>
                        </div>
                        <div class="success alert-success alert" style="display:none">Tu mensaje se envió correctamente</div>
                        <div class="error alert-error alert" style="display:none">E-mail must be valid and message must be longer than 100 characters.</div>
                        <div class="clearfix">
                        </div>
                    </form>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock main %}
