<!-- Title, Breadcrumb Start-->
<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <h2 class="title">{{ title }}</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <div class="breadcrumbs pull-right">
                    <ul>
                        <li><a href="{{ path('index') }}">Inicio</a></li>
                        <li></li>
                        {% if breadcrumb is not defined %}
                        <li>{{ title }}</li>
                        {% else %}
                            {% if breadcrumb is iterable %}
                                {% for title, url in breadcrumb %}
                                    {% if url is null %}
                                        <li>{{ title }}</li>
                                    {% else %}
                                        <li><a href="{{ url }}">{{ title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li>{{ breadcrumb }}</li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Title, Breadcrumb End-->
