{% if site.products is not empty %}
{# TODO: Verify if has promotions #}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 com-sm-12 col-xs-12">
                <h3 class="title">Promociones</h3>
                <p>{{ 'Mirá estas promociones que tenemos en  #{site.title}.' }}</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 portfolio-wrap">
                <div class="row">
                    <div class="portfolio">
                        {% for item in site.products %}
                        {% if 'PROMOTION' == item.type %}
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 web jquery item">
                            <div class="portfolio-item">
                                <a href="{{ url_generate('productos_detalle', { 'friendly_name': item.friendly_uri, 'product_id': item.website_id }) }}" class="portfolio-item-link" >
                                    <span class="portfolio-item-hover"></span>
                                    <span class="fullscreen"><i class="icon-search"></i></span>
                                    {# TODO: Method generate image #}
                                    <img src="${IMG_BASE_PATH +'w_253,h_191,c_pad,q_90/'+product.cloudinary_id+'.jpg'}" alt="{{ item.title }}" />
                                </a>
                                <div class="portfolio-item-title">
                                    <a href="{{ url_generate('productos_detalle', { 'friendly_name': item.friendly_uri, 'product_id': item.website_id }) }}">{{ item.title[:30] }}</a>
                                    <p>{{ item.price }}&nbsp;</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
